#imgs{
    width: 1.6em;
    height: 1.5em;
    margin-left: 1px;
}
input{
    border-style: none;
    border-color: azure;
}
#dey{
    margin-top: 27em;
}
#all{
    margin-top: 3em;
}
#aa{
    text-decoration: none;
}